Exercise 1: Create a Jupyter Notebook

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized

Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C/C++
5. SQL
6. Scala
7. Java
8. MATLAB
9. JavaScript
10. SAS  .... more

Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn 
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch
9. Apache Spark
10. Vegas
11. Big DL
12. ggplot2

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| --------------------- |
| 1. TensorFlow |
| 2. RStudio |
| 3. Apache Spark |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [9]:
#This will convert 200 minutes to hours by diving by 60
print('200 minutes equals to ',200/60, 'hours')

200 minutes equals to  3.3333333333333335 hours

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
List popular languages for Data Science

- Python
- R
- SQL
- Scala
- Julia

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Sateewan